[Unit]
Description=Gunicorn service for Flask Portfolio App
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/devops-Learning
Environment="PATH=/home/ubuntu/devops-Learning/.venv/bin"
ExecStart=/home/ubuntu/devops-Learning/.venv/bin/gunicorn --workers 3 --bind 0.0.0.0:5000 wsgi:app
Restart=always

[Install]
WantedBy=multi-user.target
